<div id="header">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reports">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Subscribers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Sign In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Sign Up</a>
    </li>
    <li class="nav-item">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </li>
  </ul>
</div>