<div class="container">
  <form class="form-signin" 
        [formGroup]="reportToRegister" 
        #registrationForm="ngForm"
        (ngSubmit)="register(); registrationForm.reset()">

    <h2 class="form-signin-heading">Please fill out:</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4>What hapend?</h4>
        </div>
        <div class="col-md-9">
          <label for="statusType" class="sr-only">Lost or Found Pet</label>
          <select id="statusType" 
            class="browser-default" 
            required autofocus
            formControlName="statusType"
            (click)="onClickStatusType($event)"
            >
            <option value="lost">Lost</option>
            <option value="found">Found</option>
          </select>
          <span class="text-danger" *ngIf="!reportToRegister.controls['statusType'].valid && reportToRegister.controls['statusType'].touched">Please enter valid statusType</span>      
        </div>
      </div>

      <div class="row" *ngIf="reportToRegister.controls['statusType'].valid">
        <div class="col-md-3">
          <h4>When?</h4>
        </div>
        <div class="col-md-9">
          <label for="lostFoundDate" class="sr-only">Date:</label>
          <input type="date" 
                id="lostFoundDate" 
                class="browser-default" 
                placeholder="Select date" 
                #status
                required autofocus
                formControlName="lostFoundDate">
          <span class="text-danger" *ngIf="!reportToRegister.controls['lostFoundDate'].valid && reportToRegister.controls['lostFoundDate'].touched">Please enter valid date</span>
        </div>
      </div>

      <div class="row" *ngIf="reportToRegister.controls['lostFoundDate'].valid">
        <div class="col-md-3">
          <h4>What was {{selectedStatusType}}?</h4>
        </div>
        <div class="col-md-9">
          <div *ngIf="isLost || isFound">
              <app-pet-form (newPet)="onNewPet($event)" [statusType]="selectedStatusType" [isLost]="isLost"></app-pet-form>
          </div>
          
          <label for="rfid" class="sr-only">RFID</label>
          <input type="text" 
                id="rfid" 
                class="form-control" 
                placeholder="RFID" 
                required
                formControlName="rfid">
          <span class="text-danger" *ngIf="!reportToRegister.controls['rfid'].valid && reportToRegister.controls['rfid'].touched">Please enter RFID</span>
          
        </div>
      </div>

      <div class="row" *ngIf="reportToRegister.controls['rfid'].valid">
        <div class="col-md-3">
          <h4>How it looks like?</h4>
        </div>
       
        <form>
            <app-images-form (uploadedImagesId)="onUploadedImagesId($event)" ></app-images-form>
        
        </form>
        
      
      </div>  

      <div class="row" *ngIf="hasImages">
          <div class="col-md-3">
            <h4>Where was {{selectedStatusType}}?</h4>
          </div>
          <div class="col-md-9">
            <label for="location" class="sr-only">Location</label>
            <app-location-form  (selectedLocation)="selectedLocation($event)"></app-location-form>
            
          </div>
      </div>

      <div class="row" *ngIf="hasLocation">
        <div class="col-md-3">
          <h4>Do you want to leave a message?</h4>
        </div>
        <div class="col-md-9">
          <label for="content" class="sr-only">Short description</label>
          <textarea rows="4" cols="50" type="text" 
          id="content" 
          class="form-control" 
          placeholder="Short description" 
          required
          formControlName="content"></textarea>
        </div>
      </div>

      <div class="row" *ngIf="hasLocation && isLost">
        <div class="col-md-3">
          <h4>Do you want to grant reward?</h4>
        </div>
        <div class="col-md-9">
          <label for="rewardSum" class="sr-only">Reward Sum</label>
          <input type="number" 
                id="rewardSum" 
                class="form-control" 
                placeholder="Reward Sum" 
                required
                formControlName="rewardSum">
        </div>
      </div>

    </div>

    <button *ngIf="hasLocation"
            type="submit" 
            class="btn btn-lg btn-primary btn-block">Register Report
    </button>
    <span class="text-danger" *ngIf="error">{{errorMessage}}</span>

  </form>
</div>