<div class="container">
	<nav class="search-people">
        <div class="shell">
            <ul>
                <li class="nav-item">
                    <span>
                        Show:
                    </span>
                </li>

                <li class="nav-item"  [ngClass]="{'current': filterName === 'all'}">
                    <strong (click)="changeFilter('all')">
                        All
                    </strong>
                </li>

                <li class="nav-item" [ngClass]="{'current': filterName === 'Male'}">
                    <strong (click)="changeFilter('Male')">
                        Dogs  
                    </strong>
                </li>

                <li class="nav-item" [ngClass]="{'current': filterName === 'Female'}">
                    <strong (click)="changeFilter('Female')">
                        Cats
                    </strong>
                </li>
				
				<li class="nav-item" [ngClass]="{'current': filterName === 'Male'}">
					<strong (click)="changeFilter('Male')">
						Births  
					</strong>
				</li>
	
				<li class="nav-item" [ngClass]="{'current': filterName === 'Female'}">
					<strong (click)="changeFilter('Female')">
						Others
					</strong>
				</li>
            </ul>
        </div>
    </nav>
    
	<div class="container">
		<div class="row" *ngFor="let report of reports">
			<div class="card">
				<img [src]="report.profilePicUrl"/>
				<h4 class="card-text" style="width: 300px">{{report.petName}}</h4>
				<h5 class="card-text" style="width: 300px">{{report.location}}</h5>
				<div class="row card-block" style="padding-top: 0; padding-left: 0">
					<div class="btn btn-group">
						<a class="btn btn-secondary" routerLink="/pet/details/" role="button">Ditails &raquo;</a>
						<a class="btn btn-danger" routerLink="/pet/delete" role="button">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
